@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --font-base: 'Kanit';
}

body {
  font-family: var(--font-base);
}

@theme{
    --color-ice: #F3F3F3;
    --color-black-smooth: #1E1E1E;
    --color-primary-orange: #FF961F;
    --color-ocean-blue: #1F47FF;
    --color-pear-green: #369638;
    --color-red-alert: #FF2817;

}